.success,
.error {
  color: #fff;
  padding: 5px;
  margin: 5px 0 15px 0;
}

.success {
  background: green
}

.error {
  background: red;
}

.button.sbmt-btn {
  background: rebeccapurple;
  color: #fff;
}

.delete {
  text-decoration: none;
}

.button.sbmt-btn:focus,
.button.sbmt-btn:hover {
  color: #fff;
}

.button.sbmt-btn:hover,
.delete:hover {
  opacity: .5;
}